<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Second_Task>
            <version>1.0.0</version>
        </Second_Task>
    </modules>
    <frontend>
        <routers>
            <second_task>
                <use>standard</use>
                <args>
                    <module>Second_Task</module>
                    <frontName>task</frontName>
                </args>
            </second_task>
        </routers>
        <layout>
            <updates>
                <second_task module="Second_Task">
                    <file>cart.xml</file>
                </second_task>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <second_task>
                <class>Second_Task_Block</class>
            </second_task>
        </blocks>
        <models>
            <second_task>
                <class>Second_Task_Model</class>
                <resourceModel>second_task_mysql4</resourceModel>
            </second_task>

            <second_task_mysql4>
                <class>Second_Task_Model_Mysql4</class>
                <entities>
                    <cart>
                        <table>second_task</table>  <!-- Db table name  -->
                    </cart>
                </entities>
            </second_task_mysql4>
        </models>
        <resources>
            <second_task_setup>
                <setup>
                    <module>Second_Task</module>
                    <class>Second_Task_Model_Mysql4_Setup</class>
                </setup>
            </second_task_setup>
            <second_task_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </second_task_write>
            <second_task_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </second_task_read>
        </resources>
        <helpers>
            <second_task>
                <class>Second_Task_Helper</class>
            </second_task>
        </helpers>
    </global>

    <adminhtml>
        <layout>
            <updates>
                <second_task>
                    <file>second_task.xml</file>
                </second_task>
            </updates>
        </layout>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <mymodule_custom_order_view_info>
                        <class>second_task/observer</class>
                        <method>getSalesOrderViewInfo</method>
                    </mymodule_custom_order_view_info>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </adminhtml>
</config>